/**
 * @name Custom Home Icon
 * @version 3.0.0
 * @description Snippet originally stolen from Nier theme, but modified and fixed over the years
 * @website https://github.com/Ao1Pointblank/BetterDiscordMods
 * @author ao1pointblank
 * @authorId 252501967786475521
 */

/*  ANIMATION   */
.tutorialContainer_f9623d .svg_c5f96a {
  animation-name: y-spin;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes y-spin {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

/*NEW IMAGE METHOD*/
.wrapper_c5f96a:hover .childWrapper_f90abb, .childWrapper_f90abb {background-color: transparent;}
#app-mount .tutorialContainer_f9623d .childWrapper_f90abb {
    background-image: url('https://raw.githubusercontent.com/Ao1Pointblank/BetterDiscordMods/main/themes/CustomHomeIcon/home.png');
/*    height: 150%;
    width: 150%;*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.childWrapper_f90abb svg {display: none;}

.wrapper_f90abb:hover .childWrapper_f90abb, .wrapper_f90abb.selected_f90abb .childWrapper_f90abb {
    background-color: transparent;
}
