/**
 * @name Custom Home Icon
 * @version 2.0.0
 * @description Snippet stolen from Nier theme, but modified and fixed over the years
 * @website https://github.com/Ao1Pointblank/BetterDiscordMods
 * @author ao1pointblank
 * @authorId 252501967786475521
 */

/*  ANIMATION   */
.tutorialContainer_b06ae6 .svg__34dd4 {
  animation-name: y-spin;
  animation-duration: 4s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes y-spin {
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

/*NEW IMAGE METHOD*/
.wrapper__8436d:hover .childWrapper__760c6, .childWrapper__760c6 {background-color: transparent;} /*replace with colour if you want a colour behind your image */
#app-mount .tutorialContainer_b06ae6 .childWrapper__760c6 {
    background-image: url('https://raw.githubusercontent.com/Ao1Pointblank/BetterDiscordMods/main/themes/CustomHomeIcon/home.png');
/*    height: 150%;
    width: 150%;*/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.childWrapper__760c6 svg {display: none;}
