/**
 * @name Adapta Nokto
 * @author Ao1|Pointblank#2256
 * @description A dark grey-blue theme with aqua highlights
 * @version 2.0.0
 */

.theme-dark {
    --header-primary: #FFF;                                                                                     /*usernames without roles, selected server, notification mark*/
    --header-secondary: #677379;                                                                                /*text being replied to*/
    --text-normal: #CFD8DC;                                                                                     /*message content*/
    --text-muted: #677379;                                                                                      /*timestamps*/
    --text-link: #00BCD4;
/*    --text-link-low-saturation: hsl(197,calc(var(--saturation-factor, 1)*100%),52.9%);*/
    --interactive-normal: #CFD8DC;                                                                              /*most symbolic buttons*/
    --interactive-hover: #FFF;                                                                                  /*same as above, but only on hover*/
    --interactive-active: #C7FFFF;                                                                              /*selected channel text, notification mark*/
    --interactive-muted: #677379;                                                                               /*muted categories, line above a reply*/
    --background-primary: #29353B;                                                                              /*main chat area background*/
    --background-secondary: #243035;                                                                            /*channel list background, codeblock background, server folder background*/
    --background-secondary-alt: #222D32;                                                                        /*user area background*/
    --background-tertiary: #13191C;                                                                             /*server column background, search bar background*/
    --background-accent: #677379;                                                                               /*button inside inbox*/
    --background-floating: #263238;                                                                             /*popout context menu background*/
    --background-modifier-hover: rgba(55,72,80,0.5);                                                            /*hover on user or channel*/
    --background-modifier-active: rgba(55,72,80,0.6);                                                           /*flashes when clicking on user or channel*/
    --background-modifier-selected: rgba(55,72,80,1);                                                           /*background on user or channel*/
    --background-modifier-accent: rgba(19,25,28,0.5);                                                           /*variousseparator lines*/
    --button-danger-background: #FF5252;                                                                        /*background of leave server button & kick buttons*/
    --button-danger-background-hover: #FF5252;                                                                  /*background of disable account button on hover*/
    --button-positive-background: rgba(0,188,212,0.8);                                                          /*send message button in profile modal*/
    --button-positive-background-hover: #00BCD4;                                                                /*send message button in profile modal on hover*/
    --button-positive-background-active: #00BCD4;                                                               /*you get the idea by now*/
    --button-outline-danger-text: #FF5252;                                                                      /*text color of red-outlined boxes such as remove 2fa*/
    --button-outline-danger-border: #FF5252;                                                                    /*remove 2fa button outline*/
    --scrollbar-thin-thumb: #5A656A;                                                                            /*channel & user list scrollbars*/
    --scrollbar-thin-track: transparent;                                                                        /*border for channel & user list scrollbars*/
    --scrollbar-auto-thumb: #5A656A;                                                                            /*main chat area scrollbar nub*/
    --scrollbar-auto-track: ##29353B;                                                                           /*empty area of chat area scrollbar*/
    --elevation-stroke: 0 0 0 1px #243035;                                                                      /*box around message actions*/
    --elevation-low: 0 1px 0 #243035;                                                                           /*long line at the top of the window*/
    --elevation-high: 0 8px 16px #222D32;                                                                       /*shadow when selecting a DM group*/
    --background-mentioned: rgba(0,188,212,0.075);                                                              /*background when you are mentioned*/
    --background-mentioned-hover: rgba(0,188,212,0.04);                                                         /*same as above, but hover*/
    --background-message-hover: rgba(38,50,56,0.75);                                                            /*hovering over any message in chat*/
    --channels-default: #A6AFB3;                                                                                /*channel and DM text color*/
    --channel-icon: #CFD8DC;                                                                                    /*channel icon when not selected*/
    --channel-text-area-placeholder: #788388;                                                                   /*text color of "message #channel..." input box*/
    --channeltextarea-background: #374850;                                                                      /*input box background*/
    --textbox-markdown-syntax: #00BCD4;                                                                         /*color of special characters used to modify input */
    --brand-experiment: #00BCD4;
/*    --__spoiler-background-color--hidden: orange;
	--__spoiler-background-color--hidden--hover: yellow;
	--__spoiler-background-color--revealed: black*/
}

.peopleColumn_c2739c {background-color: #29353B;}
.mentioned_d5deea:before {--info-warning-foreground: #00BCD4;}
.scroller_bea0d0 {background-color: #222D32;}
.popout_e6af9c {background-color:#243035;}
#app-mount .autocomplete_f23da8 {background-color:#263238;}  /*slash command menu bg*/
.categoryHeader_fe2299 {background-color:#243035;}          /*slash command menu header*/
.theme-dark .option_b0286e:after {display: none;}
.list_a6d69a>div:first-child {background: var(--background-secondary-alt);}  /*forums page background*/
.buttonColor_e36233 {background: var(--background-secondary-alt);} /*"listen on YT" button from lastfm plugin*/

/*channel picker/browser background*/
.pageBody_c2efea, .scroller_c6b11b {background: var(--background-secondary-alt)}
.container_e44302.themed_e44302, .theme-dark .children_e44302:after {background: var(--background-secondary-alt)}
.theme-dark .container_f1fd9c, .theme-dark .header_f1fd9c {background: var(--background-secondary)}
#app-mount .container-3wLKDe, #app-mount .background_c54132, #app-mount .forumOrHome_ff5f90 {
    background: red;
}

.input_f4e139 {background: var(--background-tertiary)}

/*SERVER TITLE ABOVE CHANNELS*/
.header_fd6364 {background: #222D32}

/*ALL SCROLLBARS (I THINK)*/
::-webkit-scrollbar {
    width: 8px !important;
    height: 4px !important;
}
::-webkit-scrollbar-thumb {
    border-radius: 0 !important;
    background: #697379 !important;
}

/*CODEBLOCK BACKGROUND COLOR*/
.markup_d6076c code {background: #13191C}

/*RE-THEME FORUM CHANNELS*/
#app-mount .container-3wLKDe,
#app-mount .background_c54132,
#app-mount .forumOrHome_ff5f90 {
	background: var(--background-primary-secondary)
}
.mainCard_a6d69a {background: var(--background-secondary)}

/*SEND MESSAGE BUTTON*/
.button_a06035[disabled]>.innerButton_a06035>.buttonChild_a06035, .buttonChild_a06035 {
    color: var(----interactive-normal);
}

.activeButtonChild_a06035 {
    color: var(--interactive-hover);
}

.theme-dark .button_a06035:focus-within .activeButtonChild_a06035, .theme-dark .button_a06035:focus .activeButtonChild_a06035, .theme-dark .button_a06035:hover .activeButtonChild_a06035 {
    color: #00BCD4;
}
