/**
 * @name Adapta Nokto
 * @author Ao1|Pointblank#2256
 * @description A dark grey-blue theme with aqua highlights
 * @version 1.0.0
 */

.theme-dark {
    --header-primary: #FFF;                                                                                     /*usernames without roles, selected server, notification mark*/
    --header-secondary: #677379;                                                                                /*text being replied to*/
    --text-normal: #CFD8DC;                                                                                     /*message content*/
    --text-muted: #677379;                                                                                      /*timestamps*/
    --text-link: #00BCD4;
/*    --text-link-low-saturation: hsl(197,calc(var(--saturation-factor, 1)*100%),52.9%);*/
    --interactive-normal: #CFD8DC;                                                                              /*most symbolic buttons*/
    --interactive-hover: #FFF;                                                                                  /*same as above, but only on hover*/
    --interactive-active: #C7FFFF;                                                                              /*selected channel text, notification mark*/
    --interactive-muted: #677379;                                                                               /*muted categories, line above a reply*/
    --background-primary: #29353B;                                                                              /*main chat area background*/
    --background-secondary: #243035;                                                                            /*channel list background, codeblock background, server folder background*/
    --background-secondary-alt: #222D32;                                                                        /*user area background*/
    --background-tertiary: #13191C;                                                                             /*server column background, search bar background*/
    --background-accent: #677379;                                                                               /*button inside inbox*/
    --background-floating: #263238;                                                                             /*popout context menu background*/
    --background-modifier-hover: rgba(55,72,80,0.5);                                                            /*hover on user or channel*/
    --background-modifier-active: rgba(55,72,80,0.6);                                                           /*flashes when clicking on user or channel*/
    --background-modifier-selected: rgba(55,72,80,1);                                                           /*background on user or channel*/
    --background-modifier-accent: rgba(19,25,28,0.5);                                                           /*variousseparator lines*/
    --button-danger-background: #FF5252;                                                                        /*background of leave server button & kick buttons*/
    --button-danger-background-hover: #FF5252;                                                                  /*background of disable account button on hover*/
    --button-positive-background: rgba(0,188,212,0.8);                                                          /*send message button in profile modal*/
    --button-positive-background-hover: #00BCD4;                                                                /*send message button in profile modal on hover*/
    --button-positive-background-active: #00BCD4;                                                               /*you get the idea by now*/
    --button-outline-danger-text: #FF5252;                                                                      /*text color of red-outlined boxes such as remove 2fa*/
    --button-outline-danger-border: #FF5252;                                                                    /*remove 2fa button outline*/
    --scrollbar-thin-thumb: #5A656A;                                                                            /*channel & user list scrollbars*/
    --scrollbar-thin-track: transparent;                                                                        /*border for channel & user list scrollbars*/
    --scrollbar-auto-thumb: #5A656A;                                                                            /*main chat area scrollbar nub*/
    --scrollbar-auto-track: ##29353B;                                                                           /*empty area of chat area scrollbar*/
    --elevation-stroke: 0 0 0 1px #243035;                                                                      /*box around message actions*/
    --elevation-low: 0 1px 0 #243035;                                                                           /*long line at the top of the window*/
    --elevation-high: 0 8px 16px #222D32;                                                                       /*shadow when selecting a DM group*/
    --background-mentioned: rgba(0,188,212,0.075);                                                              /*background when you are mentioned*/
    --background-mentioned-hover: rgba(0,188,212,0.04);                                                         /*same as above, but hover*/
    --background-message-hover: rgba(38,50,56,0.75);                                                            /*hovering over any message in chat*/
    --channels-default: #A6AFB3;                                                                                /*channel and DM text color*/
    --channel-icon: #CFD8DC;                                                                                    /*channel icon when not selected*/
    --channel-text-area-placeholder: #788388;                                                                   /*text color of "message #channel..." input box*/
    --channeltextarea-background: #374850;                                                                      /*input box background*/
    --textbox-markdown-syntax: #00BCD4;                                                                         /*color of special characters used to modify input */
    --brand-experiment: #00BCD4;
/*    --__spoiler-background-color--hidden: orange;
	--__spoiler-background-color--hidden--hover: yellow;
	--__spoiler-background-color--revealed: black*/
}

.peopleColumn__51df3 {background-color: #29353B;}
.mentioned__58017:before {--info-warning-foreground: #00BCD4;}
.scroller_cc9b9a {background-color: #222D32;}
.popout__08442 {background-color:#243035;}
#app-mount .autocomplete_df266d {background-color:#263238;}  /*slash command menu bg*/
.categoryHeader_f97a5f {background-color:#243035;}          /*slash command menu header*/
.theme-dark .option_b5597b:after {display: none;}
.list__5ced9>div:first-child {background: var(--background-secondary-alt);}  /*forums page background*/
.buttonColor__01bf8 {background: var(--background-secondary-alt);} /*"listen on YT" button from lastfm plugin*/

/*channel picker/browser background*/
.pageBody_db54f5, .scroller__81266 {background: var(--background-secondary-alt)}
.container__11d72.themed_b152d4, .theme-dark .children__32014:after {background: var(--background-secondary-alt)}
.theme-dark .container__10dc7, .theme-dark .header__60bef {background: var(--background-secondary)}
#app-mount .container-3wLKDe, #app-mount .background_e80d5a, #app-mount .forumOrHome__75784 {
    background: red;
}

.input__848cd {background: var(--background-tertiary)}

/*SERVER TITLE ABOVE CHANNELS*/
.header__104ca {background: #222D32}

/*ALL SCROLLBARS (I THINK)*/
::-webkit-scrollbar {
    width: 8px !important;
    height: 4px !important;
}
::-webkit-scrollbar-thumb {
    border-radius: 0 !important;
    background: #697379 !important;
}

/*CODEBLOCK BACKGROUND COLOR*/
.markup_a7e664 code {background: #13191C}

/*RE-THEME FORUM CHANNELS*/
#app-mount .container-3wLKDe,
#app-mount .background_e80d5a,
#app-mount .forumOrHome__75784 {
	background: var(--background-primary-secondary)
}
.mainCard__8a660 {background: var(--background-secondary)}

/*SEND MESSAGE BUTTON*/
.button__8d734[disabled]>.innerButton_debeee>.buttonChild__7b90d, .buttonChild__7b90d {
    color: var(----interactive-normal);
}

.activeButtonChild__6e162 {
    color: var(--interactive-hover);
}

.theme-dark .button__8d734:focus-within .activeButtonChild__6e162, .theme-dark .button__8d734:focus .activeButtonChild__6e162, .theme-dark .button__8d734:hover .activeButtonChild__6e162 {
    color: #00BCD4;
}
